/* NAVBAR */
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 20px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: transparent;
    z-index: 1000;
}

.logo {
    font-size: 1.5rem;
    font-weight: 600;
    color: white;
    letter-spacing: 1px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 30px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-weight: 400;
    transition: 0.3s ease;
}

.nav-links a:hover {
    color: #d4af37;
}

.nav-btn {
    padding: 8px 20px;
    background-color: #d4af37;
    color: black;
    text-decoration: none;
    border-radius: 4px;
    font-weight: 600;
    transition: 0.3s ease;
}

.nav-btn:hover {
    background-color: #b8962e;
}


.hero {
    position: relative;
    height: 100vh;
    background: url('D:\web-dev-journey\project3\Restaurant_UI\images\hero_1.jpg') center/cover no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 80px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

.hero-content {
    position: relative;
    z-index: 2;
}

.hero-content h1 {
    font-size: 4rem;
    letter-spacing: 2px;
}

.hero-content p {
    margin-top: 15px;
    font-size: 1.2rem;
    color: #ddd;
}

.btn {
    display: inline-block;
    margin-top: 25px;
    padding: 12px 30px;
    background-color: #d4af37;
    color: black;
    text-decoration: none;
    font-weight: 600;
    border-radius: 4px;
    transition: 0.3s ease;
}

.btn:hover {
    background-color: #b8962e;
}

/* FOOTER */
.footer {
    background-color: #111;
    padding: 60px 80px 20px;
    color: #ccc;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 40px;
}

.footer-section h3,
.footer-section h4 {
    color: white;
    margin-bottom: 15px;
}

.footer-section ul {
    list-style: none;
}

.footer-section ul li {
    margin-bottom: 10px;
}

.footer-section a {
    text-decoration: none;
    color: #ccc;
    transition: 0.3s ease;
}

.footer-section a:hover {
    color: #d4af37;
}

.footer-bottom {
    text-align: center;
    margin-top: 40px;
    border-top: 1px solid #333;
    padding-top: 20px;
    font-size: 0.9rem;
}